// Resets
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.1;
}

body{
  background-color: azure;
  color: #010018;
  font-family: "Roboto", sans-serif;;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

.peach{
  background-color: peachpuff;
}
.mint{
  background-color: mintcream;
}
.yellow{
  background-color: rgb(255, 255, 197);
}
.gray{
  background-color: rgba(184, 184, 184, 0.658);
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}

.title{
  color: darkblue;
    font-size: larger;
      line-height: 1.1;
}
.sub-title{
  font-weight: 300;
  color: rgba(31, 31, 15, 0.616);
}
.lead{
  font-weight: 300;
  font-size: 18px;
}
