// Resets
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.1;
}

body{
  background-color: azure;
  color: #010018;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

// .container{
//   border: #010018 solid;
//   max-width: 1400px;
//   width: 100%;
//   margin: auto;
// }
