@import "resets";

// Nav Bar SCSS
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  img {
    height: 50px;
    width: auto;
  }
}

.nav-items {
  display: flex;
  align-items: center;

  .navlist {
    padding-inline: 1em;
    font-size: 18px;
    transition: all .5s ease-in-out;

    &:hover {
      color: orangered;
      background-color: beige;
    }
  }
}

// Hero
// .hero{
//   height: 70vh;
//   width: 100vw;
//   border: solid;

  // .wrap {
  //   height: 70vh;

  //   .hero-img {
  //       height: 100%;
  //       width: auto;
  //       overflow: hidden;
  //     }
  // }
// }

// Card
.card {
  padding: 1%;

  .card-header {
    border-left: solid 3px orangered;
    margin: 8px 0;
    padding: 0 8px;
  }

  .card-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 12px;
    margin-top: 26px;
  }

  .cards {
    padding: 8px;
    border-radius: 8px;
  }
}