@import "resets";

// Nav Bar SCSS
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  img {
    height: 50px;
    width: auto;
  }
}

.nav-items {
  display: flex;
  align-items: center;

  .navlist {
    padding-inline: 1em;
    font-size: 18px;
    transition: all .5s ease-in-out;

    &:hover {
      color: orangered;
      background-color: beige;
    }
  }
}

// Hero
.hero{
  border: solid 2px;
    height: 70vh;
      width: 100%;
      position: relative;
      .heroImage{
        position: absolute;
        height: 70vh;
        top: 0;
        left: 0;
      }
      img{
        width: 100%;
        // height: auto;
        object-fit: cover;
        object-position: center;
      }
      .hero-content{
        background-color: #00000062;
        z-index: 10;
        position: relative;
        height: 100%;
        color: white;
        display: flex;
            justify-content: center;
            align-items: center;
       .hero-text{
        text-align: center;
         .hero-title{
          font-size: 3em;
          font-weight: 700;
         }
         p{
          font-size: 2em;
         }
       }
      }
}


// .hero {
//   height: 70vh;
//   width: 100vw;

//   .wrap {
//     width: 100vw;
//     height: 70vh;
//     position: relative;

//     .hero-img {
//       height: 100%;
//       width: 100%;
//       display: flex;
//       object-position: center;
//       object-fit: cover;
//       overflow: hidden;

//       img {
//         margin: auto;
//         height: auto;
//         width: 100%;
//         text-align: center;
//       }
//     }

//     .hero-info {
//       background-color: rgba(0, 0, 0, 0.37);
//       color: white;
//       position: absolute;
//       top: 0;
//       left: 0;
//       height: 100%;
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }

// Card
.card {
  padding: 1%;

  .card-header {
    border-left: solid 3px orangered;
    margin: 8px 0;
    padding: 0 8px;
  }

  .card-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 12px;
    margin-top: 26px;
  }

  .cards {
    padding: 8px;
    border-radius: 8px;
  }
}